:root {
  /* font */
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  /* text colors */
  --name-color: #212121;
  --descr-color: #757575;
  --activ-color: #2196f3;
  --second-color: #ffffff;

  /* background colors; */
  --header-bg-color: #ffffff;
  --footer-bg-color: #2f303a;
  --activ-bg-color: #2196f3;
  --second-bg-color: #f5f4fa;

  /* grid items */
  --items: 1;
  --indent: 30px;
}

body {
  font-family: var(--main-font);
  color: var(--name-color);
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  /* outline: 1px solid red; */

  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
==================================
-= Grid for collection of elements =-
==================================
*/
.grid {
  display: flex;
  flex-wrap: wrap;

  gap: var(--indent);
}

.grid-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.button {
  font-family: inherit;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  cursor: pointer;
  border: none;
}

.button-mode-light {
  color: var(--name-color);
  background-color: var(--second-bg-color);
  padding: 6px 22px;
  border-radius: 4px;
}

.button-active {
  padding: 6px 25px;
}

.button-mode-light:hover,
.button-mode-light:focus,
.button-active {
  color: var(--second-color);
  background-color: var(--activ-bg-color);
}

.button-mode-durk {
  color: var(--second-color);
  background-color: var(--activ-bg-color);
  padding: 10px 32px;
  border-radius: 4px;

  display: block;
  margin-right: auto;
  margin-left: auto;

  min-width: 216px;
  min-height: 50px;
}

.button-mode-durk:hover,
.button-mode-durk:focus {
  color: var(--name-color);
  background-color: var(--second-bg-color);
}

.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

/*
==================================
-= Header section =-
==================================
*/
/* logo */

.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  margin-left: auto;
}

.logo {
  color: var(--activ-color);
  font-family: var(--logo-font);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.header-logo {
  margin-right: 93px;
}

.half-logo {
  color: #000;
}
.half-logo-footer {
  color: #fff;
}

/* Navigation */
.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item {
  margin-right: 50px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-link,
.header-mailphone {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  letter-spacing: 0.28px;
}

.active-link,
.navigation-link:hover,
.navigation-link:focus,
.header-mailphone:hover,
.header-mailphone:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--activ-color);
}

/* Mail & Phone */
.header-list {
  display: flex;
}

.header-item {
  margin-right: 50px;
}

.header-item:last-child {
  margin-right: 0px;
}

.header-mailphone {
  color: var(--descr-color);
}

/*
===================================
-= Hero section =-
===================================
*/
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--footer-bg-color);
  background-image: url(../images/hero/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--second-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

/*
==================================
-= Cards Section =-
==================================
*/

.cards-item {
  --items: 4;
}

.cards-item-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.cards-item-description {
  color: var(--descr-color);
  line-height: 1.71;
  letter-spacing: 0.42px;
}

/*
==================================
-= Section What do we do =-
==================================
*/
.whatdowedo {
  /* padding-top: 94px; */
  padding-bottom: 94px;
}

.whatdowedo-item-box {
  --items: 3;
}

/*
==================================
-= Our team section =-
==================================
*/
.our-team {
  background-color: var(--second-bg-color);
}

.our-team-list {
  /* display: flex;
  justify-content: space-between;
  flex-shrink: 0; */
}

.our-team-item {
  --items: 4;
  /* margin-right: 30px; */

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: var(--header-bg-color);
}
.our-team-item:last-child {
  margin-right: 0px;
}

/* .our-team-item-pic {
  margin-bottom: 30px;
} */
.our-team-item-name {
  color: var(--name-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.our-team-item-position {
  color: var(--descr-color);
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
  /* margin-bottom: 30px; */
}
.our-team-person {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*
==================================
-= Portfolio section =-
==================================
*/

.portfolio-name {
  color: var(--name-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}
.portfolio-description {
  color: var(--descr-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-buttons-item {
  margin-right: 8px;
}

/* .portfolio-buttons-item:last-child {
  margin-right: 0px;
} */

/* .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-shrink: 0;
} */
.portfolio-item {
  --items: 3;
  background-color: var(--header-bg-color);
  /* outline: 1px solid #eee; */
  /* margin-bottom: 30px;
  margin-right: 30px; */
}

.portfolio-wrapper {
  padding: 20px 24px 20px 24px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}
/*
==================================
-= Footer section =-
==================================
*/
.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  color: var(--second-color);
  font-family: Roboto;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0px;
}
